body {
    margin: 0;
    padding: 0;
    font-family: verdana;
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

#rubaroo-logo {
    position: fixed;
    top: 2%;
    left: 1%;
    z-index: 4;
}

#srm-logo {
    position: fixed;
    top: -11px;
    right: 67px; 
    z-index: 4;
}

#nav {
    position: fixed;
    z-index: 8;
    width: 48px;
    height: 48px;
    background: url('../static/menu.png');
    right: 1%;
    top: 1%;
    transition: transform .2s;

}

#nav:hover {
    transform: scale(0.8);
}

.nav-clicked {
    padding-right: 1%;
    padding-top: 1%;
    color: white;
    font-size: 2em;
    font-weight: bold;
}

#permalink ul{
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}

#permalink {
    position: fixed;
    color: white;
    z-index: 4;
    top: 39%;
    bottom: 1.7%;
    font-size: 18px;
    font-weight: 400;
    transition: 1s ease-in;
}

#permalink ul li:hover {
    font-weight: bold;
}

#permalink ul li .permalink-active {
    font-weight: bold !important;
}

#share-fb {
    position: absolute;
    z-index: 4;
    bottom: 3%;
    right: 2.5%;
    font-weight: 700;
    border: solid 2.5px white;
    border-radius: 13px;
}

#share-fb a {
    padding: 17px;
}

#menu-container {
    display: none;
    position: fixed;
    left: 73%;
    right: 0%;
    height: 100vh;
    z-index: 7;
    background: rgba(0,0,0,0.8);
    transition: 2s ease-in;
}

#menu {
    padding-left: 11%;
    z-index: 7;
    font-size: 2em;
    margin-top: 150px;
    margin-left: 10px;
    font-family: 'Teko', sans-serif;
    font-weight: bold;
    background:rgba(0,0,0,0);
}

#menu div {
    color: white;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

#menu div:hover {
    margin-left: 20px;
    color: #ec9a29;
    text-decoration: underline;
    font-weight: bold;
    transition: margin-left .5s, color .5s;
}

#social-media-nav {
    position: relative;
    top: 70px;
    letter-spacing: 0.04em;
    text-decoration: none !important;

}

#social-media-nav a:hover {
    color:  #ec9a29;
}

#intro h1{
    position: relative;
    z-index: 3;
    color: white;
    font-size: 5em;
    margin-left: 20%;
    padding-top: 15%;
    padding-right: 20%;
}

#intro p {
    position: relative;
    z-index: 3;
    padding-left: 20%;
    padding-right: 20%;
    color: white;
    opacity: 1;
}

#nav:hover {
    cursor: pointer;
}

#fullpage {
    height: 100vh;
    overflow: hidden;
}

section {
    height: 100vh;
    overflow: hidden;
}

section h1 {
    margin: 0;
    padding: 0;
}

#home {
    background: url('../static/home5.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



section #container {
    position: absolute;
    z-index: 4;
    top: 80%;
    bottom: 0%;
    left: 45vw;
}

#home::before {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 128, 128, .4);
}

#social-media {
    position: fixed;
    z-index: 4;
    left: 1%;
    bottom: 1.7%;
    font-size: 2em;
    letter-spacing: 0.01em;
}

#social-media a {
    color: white;
    transition: all 0.5s ease-out;
}

#social-media a:hover{
    color: gray;
}

.dropdown {
    position: absolute;
    z-index: 4;
    background: url('../static/down.png');
    width: 50px;
    height: 50px;
    bottom: 0%;
    top: 91%;
    left: 50%;
}

.drop2 {
    top: 92%;
}

#about-us {
    background: #eb7070;
    color: white;
    justify-content: center;
}

#about-us h1 {
position: relative;
top: 10%;
left: 20%;
 font-family: 'Lobster';
 font-size: 70px;
 line-height: 100px;

}
 
#about-us p {
    position: relative;
    top: 20%;
    padding-left: 20%;
    padding-right: 20%;
    font-family: 'Cabin';
    font-size: 17px;
    line-height: 25px;
}

#contact-us {
    background:linear-gradient(135deg, #55db15, #459ffc);
    color: #fff;
    
}

#map-location {
    position: relative;
    top: 20%;
    left: 20%;
    right: 10%;
    
}

#gmap_canvas{
    width: 400px;
    height: 500px;
}

#contact-info {
    position: relative;
    top: -55%;
    left: 50%;
    width: 90%;
    height: 80%;
    border-left: solid white 4px;
    background:rgba(0,0,0,0.4);
}

#contact-info h1{
    padding-top: 3%;
    padding-left: 5%;
    font-size: 2em;
}

section:nth-child(3) h1 {
    position: relative;
    top: 10%;
    left: 20%;
 font-family: '';
 font-size: 70px;
 line-height: 100px;

}

#register {
    background: -webkit-linear-gradient(135deg, #00dbde, #fc00ff);
    background: -o-linear-gradient(135deg, #00dbde, #fc00ff);
    background: -moz-linear-gradient(135deg, #00dbde, #fc00ff);
    background: linear-gradient(135deg, #00dbde, #fc00ff);
}

#internal-register{
    position: relative;
    z-index: 4;
    background:rgba(0,0,0,0.4);
    top: 10%;
    bottom: 10%;
    left: 20%;
    right: 50%;
    width: 30%;
    height: 80%;
    color: white;
    border:solid white 4px;
    border-radius: 2%;
    transition: all .5s ease-in;
}

#internal-register:hover {
    width: 32%;
    height: 82%;
    bottom: 9%;    
}

#register h1{
    padding-top: 3%;
    padding-left: 5%;
}

#internal-button {
    position: absolute;
    bottom: 0;
}

#external-register {
    position: relative;
    z-index: 4;
    background: rgba(0,0,0,0.4);
    top: -70%;
    left: 53%;
    right: 0%;
    width: 30%;
    height: 80%;
    color: white;
    border:solid white 3px;
    border-radius: 2%;
    transition: all .5s ease-in;
}

#external-register:hover {
    top: -72%;
    bottom: 8%;
    width: 32%;
    height: 82%; 
}

#external-button {
    position: absolute;
    bottom: 0;
}

#events {
    background: gray;
}

.carousel {
    position: relative;
    top: 30%;
    left: 0%;
    z-index: 4;
    margin: 0 auto;
    width: 500px;
    height: 300px;
    display: relative;
  }
  .carousel img {
      width: 800px;
      height: 600px;
    display: hidden; /* hide images until carousel prepares them */
    cursor: pointer; /* not needed if you wrap carousel items in links */
  }

  .events-list {
      color: white;
      background: rgba(0,0,0,0.8);
  }

#credits {
    background: #F25457;
}
