body {
    margin: 0;
    padding: 0;
    font-family: verdana;
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

#rubaroo-logo {
    position: fixed;
    top: 2%;
    left: 1%;
    z-index: 4;
}

#rubaroo-logo img {
    width: 120px;
    height: 100px;
}

#rubaroo-logo:hover{
    cursor: pointer;
}

#srm-logo {
    position: fixed;
    top: -11px;
    right: 67px; 
    z-index: 4;
}

#nav {
    position: fixed;
    z-index: 8;
    width: 48px;
    height: 48px;
    background: url('../static/menu.png');
    right: 1%;
    top: 1%;
    transition: transform .2s;
}

#nav:hover {
    transform: scale(0.8);
}

.nav-clicked {
    padding-right: 1%;
    padding-top: 1%;
    color: white;
    font-size: 2em;
    font-weight: bold;
}

#permalink ul{
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}

#permalink {
    position: fixed;
    color: white;
    z-index: 4;
    top: 39%;
    bottom: 1.7%;
    font-size: 18px;
    font-weight: 400;
    transition: 1s ease-in;
}

#permalink ul li:hover {
    font-weight: bold;
}

.permalink-active {
    font-weight: bold !important;
}

.rounded-button {
    position: absolute;
    z-index: 4;
    bottom: 3%;
    right: 2.5%;
    font-weight: 700;
    border: solid 2.5px white;
    border-radius: 13px;
}

#share-fb a {
    padding: 17px;
}

#menu-container {
    display: block;
    position: fixed;
    width: 0;
    right: 0;
    height: 100vh;
    z-index: 7;
    background: rgba(0,0,0,0.8);
    background: rgba(0,0,0,0.8); /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,rgba(0,0,0,0.8), rgba(67, 67, 67, 0.8)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(0,0,0,0.8), #434343);
    transition: .3s linear;
}

#menu {
    position: relative;
    padding-left: 11%;
    z-index: 7;
    font-size: 2em;
    margin-top: 150px;
    margin-left: 10px;
    font-family: 'Teko', sans-serif;
    font-weight: bold;
    background:rgba(0,0,0,0);
}

#menu .menu-transition {  
    width: 200px;
    height: 50px;
    color: white;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

#menu .menu-transition:hover {
    margin-left: 20px;
    color: #ec9a29;
    font-weight: bold;
    text-decoration: underline;
    transition: margin-left .5s, color .5s;
}

#social-media-nav {
    position: relative;
    top: 100px;
    width: 150px !important;
    height: 45px;
    letter-spacing: 0.04em;
    text-decoration: none !important;

}

#social-media-nav a:hover {
    color:  #ec9a29;
}

#intro h1{
    position: relative;
    z-index: 3;
    color: white;
    font-size: 5em;
    margin-left: 20%;
    padding-top: 15%;
    padding-right: 20%;
}

#intro p {
    position: relative;
    z-index: 3;
    padding-left: 20%;
    padding-right: 20%;
    color: white;
    opacity: 1;
}

#nav:hover {
    cursor: pointer;
}

#fullpage {
    height: 100vh;
    overflow: hidden;
}

section {
    height: 100vh;
    overflow: hidden;
}

section h1 {
    margin: 0;
    padding: 0;
}

#home {
    background: url('../static/home-page.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



section #container {
    position: absolute;
    z-index: 4;
    top: 80%;
    bottom: 0%;
    left: 45vw;
}

#home::before {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 128, 128, .4);
}

#social-media {
    position: fixed;
    z-index: 4;
    left: 1%;
    bottom: 1.7%;
    font-size: 2em;
    letter-spacing: 0.01em;
}

#social-media a {
    color: white;
    transition: all 0.5s ease-out;
}

#social-media a:hover {
    color: gray;
}

.dropdown {
    position: absolute;
    z-index: 4;
    background: url('../static/down.png');
    width: 50px;
    height: 50px;
    bottom: 0%;
    top: 91%;
    left: 50%;
}

.drop2 {
    top: 92%;
}

#about-us {
    color: white;
    justify-content: center;
    background: #e53935;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #e35d5b, #e53935);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #e35d5b, #e53935); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#about-us h1 {
position: relative;
top: 10%;
left: 20%;
 font-family: 'Lobster';
 font-size: 70px;
 line-height: 100px;

}
 
#about-us p {
    position: relative;
    top: 20%;
    padding-left: 20%;
    padding-right: 20%;
    font-family: 'Cabin';
    font-size: 17px;
    line-height: 25px;
}

#contact-us {
    position: relative;
    background:linear-gradient(135deg, #55db15, #459ffc);
    color: #fff;
    
}

#map-location {
    position: absolute;
    top: 20%;
    left: 20%;
    right: 10%;
    
}

#gmap_canvas {
    width: 60vh;
    height: 60vh;
}

#contact-info {
    position: absolute;
    top: 14%;
    left: 50%;
    width: 90%;
    height: 80%;
    border-left: solid white 4px;
    background:rgba(0,0,0,0.4);
}

#contact-info h1{
    padding-top: 1.8%;
    padding-left: 5%;
    font-size: 2em;
}

#contact-info h4 {
    font-size: .8em !important;
    padding-left: 5% !important; 
}

.contact-badge {
    position: relative;
    margin-left: 5%;
    margin-top: 1%;  
    width: 500px;
    height: 100px;;
    padding-top: 1%; 
    padding-bottom: 1%;
    transition: all .2s linear; 
}

.contact-badge:hover {
    margin-left: 6%; 
}

.contact-badge i {
    padding-left: 5%;
    padding-left: 5%; 
    font-size: 4em;
}

.contact-text {
    position: absolute;
    top: -9%;
    left: 20%;
    padding-bottom: 3%;  
}

#contact-mail {
    position: absolute;
    bottom: -1%; 
    left: 0;
    right: 0%;
    padding-left: 5%;
}

#register {
    background: -webkit-linear-gradient(135deg, #00dbde, #fc00ff);
    background: -o-linear-gradient(135deg, #00dbde, #fc00ff);
    background: -moz-linear-gradient(135deg, #00dbde, #fc00ff);
    background: linear-gradient(135deg, #00dbde, #fc00ff);
}

#internal-register{
    position: relative;
    z-index: 4;
    background:rgba(0,0,0,0.4);
    top: 10%;
    bottom: 10%;
    left: 20%;
    right: 50%;
    width: 30%;
    height: 80%;
    color: white;
    border:solid white 4px;
    border-radius: 2%;
    transition: all .5s ease-in;
}

#internal-register:hover {
    width: 32%;
    height: 82%;
    bottom: 9%;    
}

#register h1{
    padding-top: 3%;
    padding-left: 5%;
}

#register p {
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 1%;   
}

#internal-button {
    position: absolute;
    bottom: 0;
}

#external-register {
    position: relative;
    z-index: 4;
    background: rgba(0,0,0,0.4);
    top: -70%;
    left: 53%;
    right: 0%;
    width: 30%;
    height: 80%;
    color: white;
    border:solid white 4px;
    border-radius: 2%;
    transition: all .5s ease-in;
}

#external-register:hover {
    top: -72%;
    bottom: 8%;
    width: 32%;
    height: 82%; 
}

#external-registration-contact {
    text-decoration: underline;
    cursor: pointer;

}

#external-registration-contact:hover {
    font-weight: bold;
}

#external-button {
    position: absolute;
    bottom: 0;
}

#events {
    position: relative;
    background: #FF512F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #F09819, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #F09819, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.section-head {
    position: absolute;
    text-align: center;
    top: 2%;
    left: 0%;
    right: 0%;
    padding-left: 2%;
    color: white; 
}

.events-list-permalink ul {
    list-style: none;
    text-decoration: none;
    cursor: pointer;

}

.events-list-permalink {
    position: absolute;
    top: 25%;
    left: 85%;
    width: 15%;
    z-index: 5;
    padding-top: 5%;
    padding-bottom: 5%;
    color: white; 
    border-left: white 2.3px solid;
    background-color: rgba(224, 224, 224, 0.3);

}

.carousel {
    position: absolute;
    top: 30%;
    left: 0%;
    z-index: 3;
    margin: 0 auto;
    width: 500px;
    height: 300px;
    display: relative;
  }

.carousel img {
        width: 800px;
        height: 600px;
        display: hidden; /* hide images until carousel prepares them */
        cursor: pointer; /* not needed if you wrap carousel items in links */
}

#event-brochure {
    padding: 0.4% 2%;
    font-size: .8em;
    color: white; 
    z-index: 4;
}

#event-brochure:hover {
    cursor: pointer;
}

.events-list {
    color: white;
    background: rgba(0,0,0,0.8);
}

#pronight {
   position: relative;
   background: url('../static/pro-night.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

#pronight::before {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba( 0, 0, 0, .4);
}


#pronight .section-head {
    z-index: 3;
}

#pronight-slider {
    position: absolute;
    margin-top: 2%;
    left: 5%;
    height: 90vh;
    right: 5%;
    color: #2a2a2a;
    background: rgba(0,0,0,0);
  }

#site-map {
    position: relative;
    z-index: 6;
    background: #F25457;
}

.site-map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.rubaroo-logo {
    text-align: center;
    position: relative;
    color: white;
    top: 11%;
}

.rubaroo-logo div {
    display: inline-block;
    margin-left: auto;
    margin-right: auto; 
}

.rubaroo-logo:hover {
    cursor: pointer;
}


#site-map-thomso img {
    display: inline-block;
    margin-left: 5%;
    width : 250px !important;
    height : 170px;
}

#site-map-rubaroo img {
    display: inline-block;
    width : 170px;
    height : 150px;   
}


.site-links {
    position: absolute;
    z-index: 2;
    top: 30%;
    bottom: 4%;
    left: 0;
    right: 50%;
}

.site-links h2 {
    padding-top: 10%; 
    padding-left: 30%;
    font-size: 3em;
    font-weight: bold;
    color: white;
}

.site-links div {
    padding-left: 30%; 
    padding-top: 1%;
    color: white;
}

.site-links div:hover {
    cursor: pointer;
    font-weight: bold;
}

.social-media-links {
    left: 50%;
    right: 0%;
}

#copyrights {
    position: absolute;
    text-align: center;
    bottom: 1%;
    left: 0%;
    right: 0%;
    color:white !important;
}

#copyrights a {
    text-decoration: underline;
    cursor: pointer;
}

.mobile {
    display: none;
}

@media (max-width: 960px) and (min-width: 360px){

    #srm-logo {
        display: none;
    }

    #rubaroo-logo {
        width: 20vw !important;
    }

    #rubaroo-logo img {
        width:  90px;
        height: 70px;
    }

    #permalink {
        display: none;
    }

    #intro h1{
        font-size: 2em;
        padding-top: 34%; 
    }

    #intro p {
        font-size: .9em; 
    }

   section #container {
        left: 26vw;
    }

    .dropdown {
        display: none;
    }

    #menu {
        font-size: 1.9em;
        padding-left: 15%; 
        margin-top: 100px; 
        position: absolute;
    }

    #about-us h1 {
        top: 12%;
        font-size: 2.3em;
    }

    #about-us p {
        top: 14%;
        font-size: 11px;
        line-height: 14px;
    }



    #events-head {
        left: 7%;
    }

    .carousel {
        top: 14%;
        width: 200px;
    }

    .carousel img{
        align-self: center;
        width: 250px;
        height: 200px;
    }

    .events-list-permalink {
        display: block;
        top: 60%;
        left: 10%;
        width: 80%;
        padding-top: 0%;
        padding-bottom: 0%;  
        border-right: solid 2.3px white;
    }

    .events-list-permalink li {
        padding-bottom: .2%; 
    }

    #pronight .section-head {
        top: 80%;
        font-size: .9em;
    }

    #pronight-slider .carousel img{
        width: 350px;
        height: 300px;
    }


    .mobile {
        display: block;
    }

    #register h1 {
        font-size: .8em;
    }

    #register p {
        font-size: .8em !important;
    }

    #mobile-register-head {
        position: absolute;
        padding: 0;
        left: 37%;
        font-size: 1.7em;
        padding-top: 4%;
        color: white; 
    }

    #internal-register {
        top: 20%;
        left: 1%;
        width: 49vw;
        height: 70%;
        border:solid white 2px;
    }

    #internal-register:hover {
        top: 20%;
        left: 1%;
        width: 49vw;
        height: 70%;
       border: solid white 2.5px; 
    }
    
    .button-reg {
        width: 100px !important;
    }
    
    #external-register {
        top: -50%;
        width: 45vw;
        height: 70%;
        border: solid white 2px;
    }

    #external-register:hover {
        top: -50%;
        width: 45vw;
        height: 70%;
        border: solid white 2.5px;
    }


    .desktop-br {
        display: none;
    }

    #external-register div {
        font-size: .8em;
    }


    #map-location {
        display: none;
    }

    #gmap_canvas {
        width: 50vw;
        height: 5vh;
    }

    #contact-info {
        top: 15%;
        left: 2%;
        width: 95%;
        height: 75%;
    }
    
    #contact-info h1 {
        margin-top: 5px; 
        font-size: .9em; 
    }

    .contact-badge {
        margin-left: 0%;
        height: 80px;
    }

    #contact-info h4 {
        padding-left : 0% !important; 
    }

    .contact-text {
        padding: 0%;
        font-size: .8em;
        padding-bottom: 1%; 
    }

    
    
    .rubaroo-logo {
        top: 10%;
    }

    .site-links h2 {
        font-size: 2em;
        padding-top: 50%; 
    }

    .social-media-links {
        z-index: 2;
        left: 45%;
        right: 5%;
    }

    #site-map-thomso img {
        display: inline-block;
        width : 170px !important;
        height : 115px;
    }
    
    #site-map-rubaroo img {
        display: inline-block;
        width : 115px;
        height : 100px;   
    }
    
    #copyrights {
        z-index: 1;
        font-size: .8em;
    }


}